body {
    background-color: #1d0117;
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
}

.LoginContainer {
    display: grid;
}

h1{
    font-size: 30px;
    justify-self: center;
    align-self: center;
}

.icon_moneybox{
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}

.form_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.block_label{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.input {
    box-shadow: 0px 0px 15px purple;
    margin-bottom: 10px;
    font-size: 16px;
    max-height: 25px;
    outline: none;
    transition: box-shadow .3s;
    padding: 4px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background-color: #dadada;
}

.input:focus{
    box-shadow: 0px 0px 20px #e000e0;
}

.ref{
    margin-top: 10px;
    padding-bottom: 30px;
}

.ref:focus{
    color: #e000e0;
}


.form{
    width: 30%;
    height: 500px;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 200px auto;
    overflow: auto;
}

.button_login{
    margin-bottom: 10px;
    height: 70px;
    outline: none;
    padding: 4px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #150964, #f86ee3);
    color: #19062c;
}

.button_login:focus{
    background: linear-gradient(90deg, #f86ee3, #150964);
}
