.RegContainer {
    display: grid;
}

.button_reg{
    margin-bottom: 10px;
    height: 70px;
    outline: none;
    padding: 4px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #150964, #f86ee3);
    color: #19062c;
}

.button_reg:focus{
    background: linear-gradient(90deg, #f86ee3, #150964);
}

.reg-error {
    color: rgb(180, 15, 15);
}
